# Import Pandas

In [1]:
import pandas as pd
import numpy as np

# Data Creation/Addition
There are several ways to create dataframe.

Use list for data creation by rows, and dictionary for data creation by columns. The list/dictionary here is the item passed to `DataFrame`.

Create rows from dictionaries inside a list:

In [2]:
a = {"C1" : 1 , "C2" : 2 , 'C3' : 3} # first row
b = {"C1" : 21, 'C2' : 22, 'C3' : 33} # second row
c = {"C1" : 21,            'C3' : 33} # third row

df = pd.DataFrame([a, b, c])
df

   C1    C2  C3
0   1   2.0   3
1  21  22.0  33
2  21   NaN  33

A simplified desgination can be done by using lists inside a list (use `Numpy.NaN` for missing values):

In [3]:
column_name = ["C1", "C2", "C3", "C4"]
a = [1, 2, 3, 4] # first row
b = [21, 22, 23, 24] # second row
c = [31, 32, np.NaN, 34] # third row

df = pd.DataFrame([a, b, c], columns=column_name)
df

   C1  C2    C3  C4
0   1   2   3.0   4
1  21  22  23.0  24
2  31  32   NaN  34

Create columns by dictionaries inside a dictionary.

For inner dictionary, the keys (`0, 1, 2`) are the row index.

For outside dictionary, the keys (`C1, C2, C3`) are column index.

In [4]:
a = {0 : 1 , 1 : 2 , 2 : 3} # first column
b = {0 : 21, 1 : 22, 2 : 33} # second column
c = {0 : 21,         2 : 33} # third column

df = pd.DataFrame({"C1" : a, 'C2' : b, 'C3' : c})
df

   C1  C2    C3
0   1  21  21.0
1   2  22   NaN
2   3  33  33.0

Similary, a simplified designation using lists inside a dictionary (use `numpy.NaN` for missing values):

In [5]:
a = [1, 2, 3] # first column
b = [12, 22, 32] # second column
c = [13, np.NaN, 33] # third column

df = pd.DataFrame({"C1" : a, 'C2' : b, 'C3' : c})
df

   C1  C2    C3
0   1  12  13.0
1   2  22   NaN
2   3  32  33.0

Append rows using `concat()` with `axis=0` (default). Usually, we specify `ignore_index=True` to reset index (otherwise the original index is used).

In [6]:
df = pd.DataFrame([[11, 12, 13], [21, np.NaN, 23], [31, 32, 33]], columns=['C1', 'C2', 'C3'])
print('Original dataframe:')
print(df)

df_tmp = pd.DataFrame([[41, 42, 43], [51, 52, 53]], columns=df.columns)
df = pd.concat([df, df_tmp], ignore_index=True)
print('After appending rows:')
print(df)

del df, df_tmp

Original dataframe:
   C1    C2  C3
0  11  12.0  13
1  21   NaN  23
2  31  32.0  33
After appending rows:
   C1    C2  C3
0  11  12.0  13
1  21   NaN  23
2  31  32.0  33
3  41  42.0  43
4  51  52.0  53

Append columns by `concat` with `axis=1` or just `join`:

In [7]:
df = pd.DataFrame([[11, 12, 13], [21, 22, 23], [31, 32, 33]], columns=['C1', 'C2', 'C3'])
print('Original dataframe:')
print(df)

df_tmp = pd.DataFrame({'C4': [14, 24, 34], 'C5': [15, 25, 35]})
df = df.join(df_tmp)
print('After joining another dataframe:')
print(df)

df_tmp2 = pd.DataFrame({'C6': [16, 26, 36], 'C7': [17, 27, 37]})
df = pd.concat([df, df_tmp2], axis=1)
print('After concating yet another dataframe:')
print(df)
del df, df_tmp, df_tmp2

Original dataframe:
   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
After joining another dataframe:
   C1  C2  C3  C4  C5
0  11  12  13  14  15
1  21  22  23  24  25
2  31  32  33  34  35
After concating yet another dataframe:
   C1  C2  C3  C4  C5  C6  C7
0  11  12  13  14  15  16  17
1  21  22  23  24  25  26  27
2  31  32  33  34  35  36  37

# Basic Properties of the Data
The number of rows and columns of the dataframe:

In [8]:
df = pd.DataFrame([[11, 12, 13], [21, 22, 23]], columns=['C1', 'C2', 'C3'])
print(df)
print('-------------')
print('Number of rows:', df.shape[0])
print('Number of columns:', df.shape[1])

   C1  C2  C3
0  11  12  13
1  21  22  23
-------------
Number of rows: 2
Number of columns: 3

Get a more detailed info on the data structure:

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C1      2 non-null      int64
 1   C2      2 non-null      int64
 2   C3      2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

Get some basic analysis:

In [10]:
df.describe()

              C1         C2         C3
count   2.000000   2.000000   2.000000
mean   16.000000  17.000000  18.000000
std     7.071068   7.071068   7.071068
min    11.000000  12.000000  13.000000
25%    13.500000  14.500000  15.500000
50%    16.000000  17.000000  18.000000
75%    18.500000  19.500000  20.500000
max    21.000000  22.000000  23.000000

# Select Data
Column:

In [11]:
df = pd.DataFrame([[11, 12, 13], [21, 22, 23], [31, 32, 33]], columns=['C1', 'C2', 'C3'])
print(df)
print('--------')
print(df['C1']) # column
print('--------')
print(df.C1)

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
0    11
1    21
2    31
Name: C1, dtype: int64
--------
0    11
1    21
2    31
Name: C1, dtype: int64

Row:

In [12]:
print(df)
print('--------')
print(df[1:2]) # row, pythonic index style

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
   C1  C2  C3
1  21  22  23

Subset of the data:

In [13]:
print(df)
print('--------')
print(df.iloc[0:2,1:2] ) # row 0 and 1, column 1; pythonic inidex
print('--------')
df.loc[1:2, ['C1','C3']] # note that, for slices, loc defaults to non-pythonic index: starting from 1 and endpoint is included

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
   C2
0  12
1  22
--------

   C1  C3
1  21  23
2  31  33

Specific item in the dataframe:

In [14]:
print(df)
print('--------')
print(df.iloc[1,1] ) # row 1, column 1
print('--------')
df.loc[1, 'C2'] # note that, for non-slices case, loc is still pythonic

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
22
--------

22

# Manipulation of Data

Add one column:

In [15]:
df = pd.DataFrame([[11, 12, 13], [21, 22, 23], [31, 32, 33]], columns=['C1', 'C2', 'C3'])
df_tmp = df.copy() # deep copy of dataframe. If using =, it only passes reference.
print(df_tmp)
print('--------')
df_tmp['C4'] = [14, 24, 34] # add one column
print(df_tmp)
del df_tmp

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
   C1  C2  C3  C4
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

Add one row:

In [16]:
df_tmp = df.copy()
print(df_tmp)
print('--------')
# df_tmp[3:4] = [41, 42, 43] this does not work!
df_tmp.loc[3] = [41, 42, 43]
print(df_tmp)
del df_tmp

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
3  41  42  43

# Filtering Data

Specifying conditions for filtering data:

In [18]:
df = pd.DataFrame([[11, 12, 13], [21, 22, 23], [31, 32, 33]], columns=['C1', 'C2', 'C3'])
print(df)
print('------------------')
print(df[df['C2'] > 20])
print('------------------')
print(df[df['C2'].isin([12, 32])])

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
------------------
   C1  C2  C3
1  21  22  23
2  31  32  33
------------------
   C1  C2  C3
0  11  12  13
2  31  32  33

Remove "not available":

In [19]:
df = pd.DataFrame([[11, 12, 13], [21, 22, np.NaN], [31, 32, np.NaN]], columns=['C1', 'C2', 'C3'])
print(df)
print('--------')
print(df[df['C3'].notna()]) # notna = not NA = not not-available

   C1  C2    C3
0  11  12  13.0
1  21  22   NaN
2  31  32   NaN
--------
   C1  C2    C3
0  11  12  13.0

# Apply Self-Defined Function

Note that the first variable in the self-define function should always be the input data.

One column input, one column output (no need to specify `axis` as input is a `pandas.Series`):

In [38]:
df = pd.DataFrame([[11, 12, 13], [21, 22, 23], [31, 32, 33]], columns=['C1', 'C2', 'C3'])
print(df)
print('--------')

def function_0(sample_input, argument1=1, argument2=2):
    return sample_input + argument1
df_tmp = df.copy()
df_tmp['C3+arg1'] = df_tmp['C3'].apply(function_0, args=(3, 4))
print(df_tmp)

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
   C1  C2  C3  C3+arg1
0  11  12  13       16
1  21  22  23       26
2  31  32  33       36

Many-column input, many-column output.

The parameter `axis` indicates axis to which the self-defined function applies":  
- `0` or `'index'` => apply to each column (row vector as a variable in the function)  
- `1` or `'columns'` => apply to each row (column vector as a variable in the function)

In [46]:
df = pd.DataFrame([[11, 12, 13], [21, 22, 23], [31, 32, 33]], columns=['C1', 'C2', 'C3'])
print(df)
print('--------')

def function_1(sample_input, argument1=1, argument2=2):
    sample_input['C1+ar1'] = sample_input['C1'] + argument1
    sample_input['C2+ar2'] = sample_input['C2'] + argument2
    return sample_input

df_tmp = df.copy()
df_tmp = df_tmp.apply(function_1, args=(3, 3), axis=1)
print(df_tmp)

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
   C1  C2  C3  C1+ar1  C2+ar2
0  11  12  13      14      15
1  21  22  23      24      25
2  31  32  33      34      35

Many-row input, many-row output.

In [48]:
df = pd.DataFrame([[11, 12, 13], [21, 22, 23], [31, 32, 33]], columns=['C1', 'C2', 'C3'])
print(df)
print('--------')

def function_2(sample_input, argument1=1, argument2=2):
    sample_input.loc[3] = sample_input.loc[0] + argument1
    sample_input.loc[4] = sample_input.loc[1] + argument2
    return sample_input

df_tmp = df.copy()
df_tmp = df_tmp.apply(function_2, args=(30, 30), axis=0)
print(df_tmp)

   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
--------
   C1  C2  C3
0  11  12  13
1  21  22  23
2  31  32  33
3  41  42  43
4  51  52  53

# Combination of Dataframes
## Join
```data_frame_a.join(data_frame_b)``` will join the two dataframes `data_frame_a` and `data_frame_b` together:

In [22]:
# set up example dataframe
column_name = ['C1', 'C2', 'C3']
a = [1, 2, 3]
b = [21, 22, 23]
c = [31, 32, 33]
df1 = pd.DataFrame([a, b, c], columns=column_name)
column_name = ['C1', 'C5', 'C6']
a = [4, 5, 6]
b = [24, 25, 26]
c = [34, 35, 36]
df2 = pd.DataFrame([a, b, c], columns=column_name)


print(df1)
print('--------')
print(df2)
print('--------')
df_tmp = df1.join(df2, lsuffix = '_left', rsuffix = '_right') # will give error if suffix is not supplied (but pandas dataframe does accept duplicate column names)
print(df_tmp)
del df1, df2, df_tmp

   C1  C2  C3
0   1   2   3
1  21  22  23
2  31  32  33
--------
   C1  C5  C6
0   4   5   6
1  24  25  26
2  34  35  36
--------
   C1_left  C2  C3  C1_right  C5  C6
0        1   2   3         4   5   6
1       21  22  23        24  25  26
2       31  32  33        34  35  36

## Merge

Merge two dataframes by matching the values of a specified column in the two dataframes.

In [23]:
# set up example dataframe
column_name = ['C1', 'C2', 'C3']
a = [1, 2, 3]
b = [21, 22, 23]
c = [31, 32, 33]
df1 = pd.DataFrame([a, b, c], columns=column_name)
column_name = ['C4', 'C5', 'C6']
a = [1, 5, 6]
b = [31, 25, 26]
c = [21, 35, 36]
df2 = pd.DataFrame([a, b, c], columns=column_name)


print(df1)
print('--------')
print(df2)
print('--------')
df_tmp = df1.merge(df2, left_on='C1', right_on='C4')
print(df_tmp)
del df1, df2, df_tmp

   C1  C2  C3
0   1   2   3
1  21  22  23
2  31  32  33
--------
   C4  C5  C6
0   1   5   6
1  31  25  26
2  21  35  36
--------
   C1  C2  C3  C4  C5  C6
0   1   2   3   1   5   6
1  21  22  23  21  35  36
2  31  32  33  31  25  26

If the duplicates occur in the matching column, all possible combinations will be created:

In [24]:
# set up example dataframe
column_name = ['C1', 'C2']
a = [1, 2]
b = [4, 22]
c = [4, 32]
df1 = pd.DataFrame([a, b, c], columns=column_name)
column_name = ['C3', 'C4']
a = [1, 5]
b = [4, 25]
c = [4, 35]
df2 = pd.DataFrame([a, b, c], columns=column_name)


print(df1)
print('--------')
print(df2)
print('--------')
df_tmp = df1.merge(df2, left_on='C1', right_on='C3')
print(df_tmp)
del df1, df2, df_tmp

   C1  C2
0   1   2
1   4  22
2   4  32
--------
   C3  C4
0   1   5
1   4  25
2   4  35
--------
   C1  C2  C3  C4
0   1   2   1   5
1   4  22   4  25
2   4  22   4  35
3   4  32   4  25
4   4  32   4  35

## Concatenate

Combine two dataframe in a specific direction (`axis=1` for the column-changing direction, and `axis=0` for the row-changing direction).

When `axis=0`, use `ignore_index=True` to reset the index.

# Discuss the parameter `join={'inner', 'outer'}` in concat.

In [25]:
# set up example dataframe
column_name = ['C1', 'C2']
a = [1, 2]
b = [2, 22]
c = [3, 32]
df1 = pd.DataFrame([a, b, c], columns=column_name)
column_name = ['C1', 'C2']
a = [4, 2]
b = [5, 22]
c = [6, 32]
df2 = pd.DataFrame([a, b, c], columns=column_name)
column_name = ['C3', 'C4']
a = [1, 5]
b = [2, 25]
c = [3, 35]
df3 = pd.DataFrame([a, b, c], columns=column_name)


print(df1)
print('--------')
print(df2)
print('--------')
print(df3)
print('--------')
df_tmp = pd.concat([df1, df2], axis=0, ignore_index=True) 
print(df_tmp)
print('--------')
df_tmp = pd.concat([df1, df3], axis=1)
print(df_tmp)
del df1, df2, df3, df_tmp

   C1  C2
0   1   2
1   2  22
2   3  32
--------
   C1  C2
0   4   2
1   5  22
2   6  32
--------
   C3  C4
0   1   5
1   2  25
2   3  35
--------
   C1  C2
0   1   2
1   2  22
2   3  32
3   4   2
4   5  22
5   6  32
--------
   C1  C2  C3  C4
0   1   2   1   5
1   2  22   2  25
2   3  32   3  35

# Data Read-in

In [26]:
df_iris = pd.read_csv("data/iris.csv")
df_iris.info()
df_iris.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Time Data

In [27]:
# read a file and parse time at certain column
#df = DataFrame("data/time.csv", parse_dates=["date_1", "date_2"])

In [28]:
# days in a month 
pd.Period('2018-2-17').days_in_month

28